@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: fixed;
  top: -30px;
  left: 0;
  width: 100vh;
  height: calc(100vw);

  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1em auto;
  padding: 1rem;
  width: 500px;
  height: 500px;

  transform: rotate(90deg);

  border: 1px solid #333;
  box-shadow: 3px 3px 6px rgba(#333, 0.3);
  border-radius: 8px;

  text-align: center;
}

.child p {
  line-height: 1.5;
}

.child ul {
  text-align: start;
  margin: 5rem 0 0 0;
  line-height: 2rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: #073763;
  color: white;
  font-weight: bold;
}

#box-1 {
  height: 50px;
}

#box-2 {
  height: 70px;
}

#box-3 {
  height: 90px;
}
