.container {
  position: fixed;
  top: -30px;
  left: 0;
  width: 100vh;
  height: calc(100vw);

  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1em auto;
  padding: 2em;
  width: 500px;
  height: 500px;

  transform: rotate(90deg);

  border: 1px solid #333;
  box-shadow: 3px 3px 6px rgba(#333, 0.3);

  text-align: center;
}

.child p {
  line-height: 1.5;
}
